{% extends 'layout.html' %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'button/macro.njk' import button %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  href: "#",
  text: "Back"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Create a request to import code</h1>
      
  <h2>Before you start</h2>
   <ul>
    <li>Make sure you have followed the guidance on <a href="bbc.co.uk">how to prepare your file (opens in a new window)</a></li>
    <li>Ensure that the CSV headers and columns/rows meet the formatting requirements</li>
    <li>Uploading a file with the same name will overwrite the original file in the environment</li>
    <li>To ensure the data is approved it must not contain and Personally Identifiable Information (PII)</li>
  </ul>

   <h2>Choose a file to import</h2>   
   <p>Choose the file containing the reference data you would like to import. You will add additional information in the next step.</p>





<div class="nhsuk-u-padding-bottom-6">
  <label class="nhsuk-u-visually-hidden">
    Upload a file
  </label><br>
  <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
</div>


      {{ button({
        text: "Continue",
        href: "import-additional-information"
      }) }}

      

    </div>
  </div>
{% endblock %}