{% extends 'layout.html' %}

{% block header %}
  {{ header({
    service: {
      text: 'Import reference data or code',
      href: "/"
    }
  }) }}
{% endblock %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'button/macro.njk' import button %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  href: "import-start-page",
  text: "Back"
}) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

{% from 'textarea/macro.njk' import textarea %}

{{ textarea({
  name: "example",
  id: "example",
  label: {
    text: "Additional information",
     classes: "nhsuk-label--l",
          isPageHeading: true
  },
  hint: {
    text: "Provide a summary outlining what the data contains and how it will support your research."
  }
}) }}

{% from 'button/macro.njk' import button %}

{{ button({
        text: "Continue",
        href: "import-summary"
      }) }}

</div>
</div>
{% endblock %}