{% extends 'layout.html' %}

{% block header %}
  {{ header({
    service: {
      text: 'Import reference data or code',
      href: "/"
    }
  }) }}
{% endblock %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'button/macro.njk' import button %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% from 'panel/macro.njk' import panel %}
{% from "summary-list/macro.njk" import summaryList %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ panel({
        titleText: "Import request created"
      }) }}

      <h2>Request details</h2>

     

      {{ summaryList({
        classes: "nhsuk-summary-list",
        rows: [
          {
            key: {
              text: "File name"
            },
            value: {
              text: "filenameexample.txt"
            }
          },
          {
            key: {
              text: "Additional information"
            },
            value: {
              text: "example additional information about the file that the user has entered on the previous step"
            }
          }
        ]
      }) }}

      <h2>What happens next</h2>
      <p>We will check your file for malware and personal information (PID).  </p>
      
      
      <h2>When will you hear back</h2>
      <p>We aim to send you a decision within 1 working day.</p>
      <p>You will get an email explaining the outcome and what to do next.</p>

      {% from 'button/macro.njk' import button %}


      
<p><a href="import-portal" class="nhsuk-link">Return to the portal</a></p>

<br>

<p>*prototype link* - <a href="import-confirmation-page" class="nhsuk-link">Show reference data confirmation screen</a></p>

    </div>
  </div>
{% endblock %}