{% extends 'layout.html' %}

{% block header %}
  {{ header({
    service: {
      text: 'Import reference data or code',
      href: "/"
    }
  }) }}
{% endblock %}

{% from 'back-link/macro.njk' import backLink %}
{% from 'button/macro.njk' import button %}
{% from 'radios/macro.njk' import radios %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    href: "#",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/upload-type-answer" method="post" novalidate>

        {{ radios({
         
          name: "WhatTypeofData",
          fieldset: {
            legend: {
              text: "What type of data do you want to import?",
              isPageHeading: true,
              classes: "nhsuk-fieldset__legend--l"
            }
          },
          
          items: [
            {
              value: "Reference data",
              text: "Reference data"
            },
            {
              value: "Code",
              text: "Code"
            }
           
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}