{% extends 'layout.html' %}

{% block header %}
  {{ header({
    service: {
      text: 'Import reference data or code',
      href: "/"
    }
  }) }}
{% endblock %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'button/macro.njk' import button %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% from 'panel/macro.njk' import panel %}
{% from "summary-list/macro.njk" import summaryList %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ panel({
        titleText: "Import request created"
      }) }}

      <h2>Request details</h2>

     

      {{ summaryList({
        classes: "nhsuk-summary-list--no-border",
        rows: [
          {
            key: {
              text: "File name"
            },
            value: {
              text: "filenameexample.txt"
            }
          },
          {
            key: {
              text: "Additional information"
            },
            value: {
              text: "example additional information about the file that the user has entered on the previous step"
            }
          }
        ]
      }) }}

      <h2>What happens next</h2>
      <p>We will check your file to make sure it follows the required format and uses approved characters. </p>
      <p>If it does not pass this check, we will email you to explain what went wrong and what you need to do next. </p>
      <p>If it passes, the SDE service team will review your file and decide to approve or reject it.</p>
      
      <h2>When will you hear back</h2>
      <p>We aim to send you a decision within 5 working days.</p>
      <p>You will get an email explaining the outcome and what to do next.</p>

      {% from 'button/macro.njk' import button %}


      
<p><a href="import-portal" class="nhsuk-link">Return to the portal</a></p>


    </div>
  </div>
{% endblock %}