{% extends 'layout.html' %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'button/macro.njk' import button %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  href: "#",
  text: "Back"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-width-container">

      <h1>Make a decision on request 90</h1>
      
{% from "summary-list/macro.njk" import summaryList %}

{{ summaryList({
  rows: [
    {
      key: {
        text: "File name"
      },
      value: {
        html: "<a class=\"nhsuk-link\" href=\"/download/data.txt\">data.txt</a>"
      
      }
    },
    {
      key: {
        text: "Priority"
      },
      value: {
        html: '<span class="nhsuk-tag nhsuk-tag--yellow">Fast track</span>'
      }
    },
    {
      key: {
        text: "Requested by"
      },
      value: {
        html: "example@nhs.net"
      }
    },
    {
      key: {
        text: "Contextual information"
      },
      value: {
        html: "<p>Example contextual information</p>"
      }
    }
  ]
}) }}

{% from "warning-callout/macro.njk" import warningCallout %}

{{ warningCallout({
  heading: "Auto check results",
  text: "The output request was not a csv file type - no result."
}) }}

<h2>Your output checks</h2>

{% from "checkboxes/macro.njk" import checkboxes %}

{{ checkboxes({
  idPrefix: "example",
  name: "example",
  fieldset: {
    legend: {
      text: "What did you check?",
      size: "l",
      isPageHeading: false
    }
  },
  hint: {
    text: "Select all options that apply"
  },
  items: [
    {
      value: "numbers",
      text: "Numbers"
    },
    {
      value: "text",
      text: "Text"
    },
    {
      value: "code",
      text: "Code"
    },
    {
      value: "other",
      text: "Other"
    }
  ]
}) }}

{% from "radios/macro.njk" import radios %}

{{ radios({
  idPrefix: "example",
  name: "Your decision",
  fieldset: {
    legend: {
      text: "Your decision",
      size: "l",
      isPageHeading: true
    }
  },
  items: [
    {
      value: "approved",
      text: "Approved"
    },
    {
      value: "rejected",
      text: "Rejected"
    }
  ]
}) }}

{{ button({
  text: "Continue",
  href: "upload-results-additional-information"
}) }}

      

    </div>
  </div>
{% endblock %}