{% extends 'layout.html' %}

{% from 'action-link/macro.njk' import actionLink %}

{% block content %}

<h2>Create requests</h2>
<p>User journeys for requesting reference data/code imports and results ouputs</p>

{{ actionLink({
  text: "Import data/code",
  href: "import/import-portal"
}) }}
<br>
{{ actionLink({
  text: "Output results",
  href: "output-results/upload-results-table"
}) }}

<br>
{% from 'action-link/macro.njk' import actionLink %}

<h2>Review requests</h2>
<p>User journeys for reviewing import and output requests</p>
{{ actionLink({
  text: "Review all requests",
  href: "review-requests/output-requests"
}) }}

{% endblock %}